*.ini linguist-vendored=false
*.ini linguist-generated=false
*.ini linguist-documentation=false
*.ini linguist-detectable=true

*.txt linguist-vendored=false
*.txt linguist-generated=false
*.txt linguist-documentation=false
*.txt linguist-detectable=true
